@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
  transition: all 0.6s ease-in;
}

body {
  background-color: rgb(38, 49, 58);
  font-family: 'Poppins', sans-serif; /* Default body font */
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif; /* Font for headings */
}

p {
  font-family: 'Poppins', sans-serif; /* Font for paragraphs */
}

a {
  font-family: 'Poppins', sans-serif;
  transition: color 0.3s ease-in-out;
}

a:hover {
  color: rgb(98, 182, 239); /* Change color on hover */
}

button {
  font-family: 'Roboto', sans-serif; /* Another font for buttons */
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: rgb(98, 182, 239); /* Change background color on hover */
}

input, textarea {
  font-family: 'Poppins', sans-serif; /* Font for input fields and textareas */
}

/* Custom animations and transitions */
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}


/* App.css */
.splash-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #000; /* Background color */
  color: white;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.splash-logo {
  width: 100px; /* Adjust as needed */
  margin-bottom: 20px;
}

.splash-text {
  font-size: 2rem;
  margin-bottom: 20px;
  color: white;
}

.loading-bar-container {
  width: 80%;
  height: 8px;
  background-color: #333;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 10px;
}

.loading-bar {
  height: 100%;
  background-color: #142e15;
  transition: width 0.3s ease;
}

.loading-percentage {
  font-size: 1.2rem;
  color: #98ce99;
}
